*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.top{
    background-color: #96252b;
    margin: .8vh 0 0 .2vw;
    box-shadow: 0px -1px 3px #cc9da1;
    padding: 9vh 9vw 15vh 9vw;
    color: white;
}
.logo{
    margin: 0 0 8vh 1vw;
}
h1{
    font-weight: 900;
    font-size: 7.2vw;
    line-height: 10vh;
}
.top h2{
    color: black;
    line-height: 90px;
    font-size: 3.5vw;
    font-weight: 900;
}
.top p{
    padding-top: 4vh;
}
